input {
  border-radius: 3px;
  padding: 5px;
}

input.item-type {
  width: 220px;
}

input.amount {
  margin-left: 10px;
  width: 75px;
}

.input-line {
  margin-top: 10px;
}

.invalid-feedback {
  margin-top: 5px;
  display: block;
  color: red;
  font-size: .8em;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
}


