<div class="wrapper">
  <form [formGroup]="form">
    <div class="input-line">
      <input
        #itemTypeInput
        formControlName="itemType"
        class="item-type"
        [placeholder]="placeholderText"
      />

      <input class="amount" formControlName="amount" /> %

      <button
        [disabled]="form.invalid"
        (click)="onAddAnotherItem()">+1</button>

      <button (click)="onDelete()">Delete</button>
    </div>

    <div class="error-lines">
      <div *ngIf="canShowItemTypeDuplicatedError"
        class="invalid-feedback">
        {{ duplicatedErrorText }}
      </div>

      <div *ngIf="canShowItemTypeError" class="invalid-feedback">
        <div *ngIf="canShowItemTypeRequiredError">
          Required - {{ this.placeholderText }}
        </div>
      </div>

      <div *ngIf="canShowAmountError" class="invalid-feedback">
        <div *ngIf="canShowAmountRequiredError">Amount requred</div>
        <div *ngIf="canShowMinAmountError">
          The amount must be greater than zero
        </div>
      </div>
    </div>
  </form>
</div>
