<form [formGroup]="form">
  <div class="populate-button">
    <button
      [disabled]="!canPopulate"
      (click)="populateOncostsAdmin()">Populate</button>
    <span class="explanation">
      (Simulate opening the form with existing data)
    </span>
  </div>

  <pre>
    isUniqueItemType: {{isUniqueItemType}}
  </pre>

  <app-oncosts-amount
    formControlName="casualLoading"
    [label]="'Casual Loading'"
  ></app-oncosts-amount>

  <app-oncosts-amount
    formControlName="superannuation"
    [label]="'Superannuation'"
  ></app-oncosts-amount>

  <app-oncosts-category
    formControlName="taxes"
    categoryName="Taxes"
    placeholderText="Add a tax item"
    [duplicatedErrorText]="duplicatedErrorText"
    [isUniqueItemType]="isUniqueItemType"
  ></app-oncosts-category>

  <app-oncosts-category
    formControlName="insurances"
    categoryName="Insurance"
    placeholderText="Add an insurance item"
    [duplicatedErrorText]="duplicatedErrorText"
    [isUniqueItemType]="isUniqueItemType"
  ></app-oncosts-category>

  <app-oncosts-category
    formControlName="other"
    categoryName="Other"
    placeholderText="Add an other item"
    [duplicatedErrorText]="duplicatedErrorText"
    [isUniqueItemType]="isUniqueItemType"
  ></app-oncosts-category>

  <div>
    <button
      type="submit"
      class="save-changes"
      [disabled]="form?.invalid"
      (click)="onSaveChanges()"
    >
      Save changes
    </button>
    <button
      class="cancel-button"
      [disabled]="!form?.dirty"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <pre>adminForm.valid: {{ form?.valid }}</pre>
    <pre>adminForm.dirty: {{ form?.dirty }}</pre>
  </div>
</form>

<div class="explanation">
  (Cancel - reverts back to last saved form details)
</div>

<pre>
  {{ form.value | json }}
</pre>
