<form [formGroup]="adminForm">
  <div class="populate-button">
    <button (click)="populateOncostsAdmin()">Populate</button>
    <span class="explanation">
      (Simulate opening the form with existing data)
    </span>
  </div>

  <div>
    <div class="label">Casual Loading:</div>
    <input class="amount" formControlName="casualLoading" />%
  </div>

  <div>
    <div class="label">Superannuation:</div>
    <input class="amount" formControlName="superannuation" />%
  </div>

  <app-oncosts-category
    formControlName="taxes"
    categoryName="Taxes"
    placeholderText="Add a tax item"
  ></app-oncosts-category>

  <app-oncosts-category
    formControlName="insurance"
    categoryName="Insurance"
    placeholderText="Add an insurance item"
  ></app-oncosts-category>

  <app-oncosts-category
    formControlName="other"
    categoryName="Other"
    placeholderText="Add an other item"
  ></app-oncosts-category>

  <div>
    <button
      type="submit"
      class="save-changes"
      [disabled]="adminForm?.invalid"
      (click)="onSaveChanges()"
    >
      Save changes
    </button>
    <button
      class="cancel-button"
      [disabled]="!adminForm?.dirty"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <pre>adminForm.valid: {{ adminForm?.valid }}</pre>
    <pre>adminForm.dirty: {{ adminForm?.dirty }}</pre>
  </div>
</form>

<div class="explanation">
  (Cancel - reverts back to last saved form details)
</div>

<pre>
  {{ adminForm.value | json }}
</pre>
