<div class="category">
  <div class="category label">
    {{categoryName}}
  </div>
  <button [disabled]="!isOncostsCategoryValid" (click)="onAddOncostsItem()">
    + Add Item
  </button>

  <pre>isOncostsCategoryValid: {{ isOncostsCategoryValid }}</pre>

  <ng-container *ngFor="let oncostItem of oncostsItems"
  [formGroup]="form">
  <app-oncosts-item
    [formControlName]="oncostItem.itemID"
    [oncostItem]="oncostItem"
    [placeholderText]="placeholderText"
    [oncostItems]="form.value"
    [isUniqueItemType]="isUniqueItemType"
    [duplicatedErrorText]="duplicatedErrorText"
    [canAddAnother]="canAddAnotherItem"
    [invalidItemTypes]="getInvalidItemTypes(oncostItem.itemID)"
    [invalidItemTypeErrorText]="duplicatedErrorText"
    (addAnotherItem)="onAddOncostsItem()"
    (deleteItem)="onDeleteItem($event)"
  ></app-oncosts-item>
</ng-container>

<div *ngIf="form">
  <pre>
    {{form.value | json}}
  </pre>
</div>
</div>
