<div class="category">
  <div class="category label r-category-name">
    {{ categoryName }}
  </div>
  <button [disabled]="!isOncostsCategoryValid" (click)="onAddOncostsItem()" class="r-add-item-link">
    + Add Item
  </button>

  <pre>isOncostsCategoryValid: {{ isOncostsCategoryValid }}</pre>

  <pre>
    formKeys: {{ formKeys }}
  </pre>

  <div [formGroup]="form">
    <app-oncosts-item
      *ngFor="let item of oncostsItems"
      [formControlName]="item.itemID"
      [item]="item"
      [placeholderText]="placeholderText"
      [canAddAnother]="canAddAnotherItem(item.itemID)"
      [isConfirmDeleteSavedItemOnly]=true
      [deleteItemTitle]="deleteItemTitle"
      [invalidItemTypes]="getInvalidItemTypes(item.itemID)"
      [invalidItemTypeErrorText]="duplicatedErrorText"
      (addAnotherItem)="onAddOncostsItem()"
      (deleteItem)="onDeleteItem($event)"
    ></app-oncosts-item>
  </div>

  <div *ngIf="form">
    <pre>
    {{ form.value | json }}
  </pre
    >
  </div>
</div>
